/*Javier Monteserín Rodríguez UO288524*/
/*Colores
Violet: #7800A2
Purple: #553B72
Dark: ##0B3C3C
Black: #000000
White: #FFFFFF
Mint: #CBEBDE
Morado claro:#E8E4FC

*/

/*Especifidad 001 */
body{
    font-family:  Arial, Verdana, sans-serif;
    font-weight: 500;
    color: #000000;
    background-color: #CBEBDE;
}
/*Especifidad 001 */
h1{
    font-size: 3em;
}
/*Especifidad 001 */
h2{
    color: #553B72;
    font-size: 2em;
}
/*Especifidad 001 */
h3{
    color: #7800A2;
    font-size: 1.5em;
}
/*Especifidad 001 */
header{
    color: #0B3C3C;
    background-color: #E8E4FC;
}
/*Especifidad 001 */
a {
    outline: none;
    text-decoration: none;
    padding: 2px;
    font-weight: bold;
}
/*Especifidad 011 */
a:link {
    color: #7800A2;
    
}
/*Especifidad 011 */
a:visited {
    color: #553B72;
}
/*Especifidad 011, 011 */
a:focus, a:hover {
    border-bottom: 3px #7800A2 dotted;
    
}
/*Especifidad 011 */
a:active{
    background: #cdfeaa;
}
/*Especifidad 001 */
ol{
    list-style: lower-greek inside;
}
/*Especifidad 001 */
ul{
    list-style-type: square ;
}
/*Especifidad 002 */
ol ul{
    list-style-type: circle;
}

ol ol{
    list-style-type: decimal;
}
/*Especifidad 001,001 */
dt,dd{
    line-height: 1.5;
}
/*Especifidad 001 */
dt{
    font-weight: bold;
}
/*Especifidad 001 */
dd{
    font-size: 0.9em;
    margin-left: 2em;
    
}
/*Si pusiese ul li:nth-child(3) para destacar el tercer elemento
de la lista de aficiones, se destacarían también los terceros elementos del resto de listas no ordenadas  */
/*Especifidad 012 */
ul li.tercero{
    background:#E8E4FC;
    
}

/*Especifidad 001 */
table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid #7800A2;;
  }
/*Especifidad 002 */
  tbody td {
    text-align: center;
  }
/*Especifidad 001,001 */
th,
td {
  padding: 1em;
  border: 1.5px solid #7800A2;;
}
/*Especifidad 001 */
caption{
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 1em;
}
/*Especifidad 013 */
tbody tr:nth-child(odd) {
    background-color: #f7caf1;
  }
/*Especifidad 013 */
tbody tr:nth-child(even) {
    background-color: #d58fee;
  }
  /*Especifidad 001 */
thead{
    background-color: #d58fee;
    font-weight: bold;
    border: 1.5px solid #7800A2;;
}
/*Especifidad 001 */
img{
    max-width: 100%;
    height: auto;
}
/*Especifidad 001 */
video{
    max-width: 100%;
    height: auto;
}






