
  
  /*Javier Monteserín Rodríguez UO288524*/
  /*Especifidad 011 */
  article[data-info="carrusel"] {
    width: 100%;
    max-width: 100vh;
    height: 70vh;
    position: relative;
    overflow: hidden; 
    border-radius: 1em;
  }
  /*Especifidad 001 */
  article {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;

  }
  /*Especifidad 011 */
  img[data-info="carrusel"] {
    width: 100%;
    max-width: 100vh;
    height: 60vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
  }
  /*Especifidad 001 */
  button {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    font-size: 2em;
  }
  /*Especifidad 011 */
  button:active {
    transform: scale(1.1);
  }
  /*Especifidad 011 */
  button[data-action=prev] {
    top: 50%;
    left: 2%;
  }
  /*Especifidad 011 */
  button[data-action=next] {
    top: 50%;
    right: 2%;
  }