/*Javier Monteserín Rodríguez UO288524*/
/*Especifidad 001 */
section{
    border: 1px solid #000; 
    width:30em;
    padding: 1em;
    background-color: #E8E4FC;
}
/*Especifidad 001 */
main{
    display:flex;
    flex-wrap: wrap;
    gap: 1em;
}
/*Especifidad 001 */
article{
    display: flex;
    gap: 1em;
}