/*Javier Monteserín Rodríguez UO288524*/
/*Especifidad 001 */
section{
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    width: 20em;
    height: 11em;
    /*color de fuente del body de estilo.css*/
    background-color: #E8E4FC;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
/*Especifidad 002 */
section>section{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    border:0px;
}
/*Especifidad 001 */
h2{
    width: 100%;
}
/*Especifidad 001 */
article{
    display:flex;
    flex-wrap: wrap;
    gap: 1em;
}

